*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
li{
	list-style: none;
}
a:link , a:active, a:visited{
	text-decoration: none;
}


/*login//////////////////////////////////////////////////////////////////
*/
.login{
    height:100%;
}
.login div.logo{
    margin: 0px auto;
    height:136px;
    width:170px;

}
.login .logo h1 >img{
    margin-top: 82px;
    
}
.login div.banner-login{
    width: 600px;
    margin-top: 113px;
    height: 614px;
    margin-left: 40px;
}

.login div.banner-email{
    margin-top: 153px;

}
.login div.banner-email h2 >img{
  
}
.login .login-left{
    background:#D4D4D7;
}
.login .login-left .sign-in .signin-form{
    display:flex;
    justify-content:center;
}
.login .sign-in .title{
    margin-top: 100px;
    margin-bottom:13px;
    display:flex;
    justify-content:center;
    font-style: normal;
    font-weight:700;
    font-size:22px;
    line-height: 33px;
    color: #282739;
}
.login .sign-in .form-group{
    margin-bottom:0px !important;
}
.login div.sign-in .username{
    margin-top: 80px;
    margin-bottom:4px;
    font-style: normal;
    font-weight:400;
    font-size:18px;
    line-height: 27px;
    color: #37474F;
}
.login div.sign-in .pas{
    margin-bottom:4px;
    font-style: normal;
    font-weight:400;
    font-size:18px;
    line-height: 27px;
    color: #37474F;
}
.login div.sign-in input{
    position:static;
    width: 400px;
    height: 44px;
    background: #fff;
    border:1.5px solid #D4D4D7;
    border-radius: 8px;
    margin-bottom: 15px;
}
.login div.sign-in #show_hide_password{
    display: flex;
    position: relative;
}

.login div.sign-in .Forgot_password{
    color:#E73F3F;
    font-size:14px;
    line-height: 21px;
    font-weight: 400;
    font-style: normal;
}
.login div.sign-in .form-button{
    margin-top: 19px;
    width:162px;
    margin-left: 121px;
}
.login div.sign-in #signin{
    
    color:#fff;
    background: #FF9138;
    font-size:16px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    width:162px;
    height: 40px;
}
.login div.sign-in #submit{
    
    color:#fff;
    background: #FF9138;
    font-size:16px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    width:162px;
    height: 40px;
}
.login div.name-project >h3{
    margin-top: 407px;
    font-size: 34px;
    line-height: 51px;
    text-align: left;
    font-weight: 400;
    font-style: normal;
    color: #FF7506;
    margin-left: 35px;
}
.login div.name-project >h1{
    margin-left: 35px;
    
    font-size:34px;
    line-height: 51px;
    text-align: left;
    font-weight: 900;
    font-style: normal;
    color: #FF7506;
} 
.login  .field-icon {
    float: right;
    left: -40px;
    margin-top: 11px;
    position: relative;
    z-index: 2;
    font-size: 22px;
    color: #6b728087;
    cursor: pointer;
  }


  /******Email********/
.send-email{
    height: 100%;
}
  .send-email div.logo{
    margin: 0px auto;
    height:136px;
    width:170px;

}
.send-email .logo h1 >img{
    margin-top: 82px;
    
}
.send-email div.banner-email{
    
    margin-top: 153px;
    
}
.send-email div.banner-email h2 >img{
    width: 100%;
    height: 100%;
}
.send-email .email-left{
    background:#D4D4D7;
}
.send-email .email-left .enter-email .email-form{
    display:flex;
    justify-content:center;
}
.send-email div.enter-email .content{
    
    margin-bottom:4px;
    font-style: normal;
    font-weight:400;
    font-size:18px;
    line-height: 27px;
    color: #37474F;
}
.send-email div.enter-email .title{
    margin-top: 100px;
    margin-bottom:13px;
    display:flex;
    justify-content:center;
    font-style: normal;
    font-weight:700;
    font-size:22px;
    line-height: 33px;
    color: #282739;
}
.send-email .enter-email input#email{
    position:static;
    width: 400px;
    height: 44px;
    background: #fff;
    border:1.5px solid #D4D4D7;
    border-radius: 8px;
    margin-bottom: 48px;
}

.send-email .enter-email .button input:nth-child(1){
    color:#FF9138;
    background: #fff;
    font-size:16px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    width:162px;
    height: 40px;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius:8px;
}
.send-email .enter-email .button input:nth-child(2){
    color:#fff;
    background: #FF9138;
    font-size:16px;
    line-height: 24px;
    font-weight: 700;
    font-style: normal;
    width:162px;
    height: 40px;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius:8px;
}
.send-email .enter-email .button{
    display: flex;
    justify-content: space-evenly;
}

/*//////////left-sidebar////////////*/
.left-sidebar{
    height: 100%;
}
.left-sidebar .panel .logo  {
    margin: 0px auto;
    width: 80px;
    height: 53px;

}
.left-sidebar .panel .logo  h1 >img{
   margin-top: 32px;
}
.left-sidebar .panel ul{
    margin-top: 65px;
    margin-left: -13px;
    margin-right: -15px;
 }
.left-sidebar .panel ul li .menu-system{
    display:block;
    padding:12px 0px;
    padding-left: 40px;
    
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #7E7D88;
    
 }
 .left-sidebar .panel ul li >a{
    display:block;
    padding:12px 0px;
    padding-left: 40px;
    
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #7E7D88;
    
 }
 .left-sidebar .panel ul li >a:hover{
    background-color: #ff913847;
    color: #FF9138;
    font-size:16.1px;
    
 }
 .left-sidebar .panel ul li >.menu-system:hover{
    background-color: #ff913847;
    color: #FF9138;
    font-size:16.1px;
    
 }
 .left-sidebar .panel ul li .active{
    background-color: #FF7506;
    color: #FFF;
    font-size:16.1px;
    
 }
 .left-sidebar .panel ul li .active:hover{
    background-color: #FF7506;
    color: #FFF;
    font-size:16.1px;
    
 }
 .left-sidebar .panel ul li{
    margin-bottom: 5px;
    
 }
 .left-sidebar .col-10{
    background-color:#D4D4D7;
 }
 .left-sidebar .content{
    margin-top: 29px;
}
 .left-sidebar .content .title{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    font-style: normal;
    color: #FF9138;
 }
 .left-sidebar .content .title-tongquan{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    color: #FF7506;
    margin-top:40px;
    margin-left: 24px;
 }
 .left-sidebar .content .title-chart-capso{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    font-style: normal;
    color: #FF9138;
    margin-top: 45px;
 }
 .left-sidebar .content .profile-mini{
     display:flex;
     align-items: center;
     margin-right: 49px;
 }
 .left-sidebar .content .profile-mini .img-profile-mini >img{
    width:40px;
    height: 40px;
    border-radius:48px;
}
.left-sidebar .content .profile-mini .img-profile-mini {
    display: flex;
}
.left-sidebar .content .profile-mini .img-profile-mini .name-profile-mini{
    display: grid;
}

.left-sidebar .content .avatar-upload {
    position: relative;
    margin-bottom: 20px;
}
.left-sidebar .content .avatar-upload .avatar-edit {
    position: absolute;
    right: 40px;
    z-index: 1;
    top: 90px;
}
.left-sidebar .content .avatar-upload .avatar-edit input {
    display: none;
}
.left-sidebar .content .avatar-upload .avatar-edit input + label {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #fff;
    border: 1px solid #d2d6de;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    margin-top: 115px;
}
.left-sidebar .content .avatar-upload .avatar-edit input + label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}
.left-sidebar .content .avatar-upload .avatar-edit input + label:after {
    content: "\f030";
    font-family: 'FontAwesome';
    color: #337ab7;
    position: absolute;
    left: 0;
    right: 0;
    top: 121px;
    text-align: center;
    line-height: 34px;
    margin: auto;
    font-size: 22px;
}
.left-sidebar .content .avatar-upload .avatar-preview .profile-user-img {
    width: 248px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 50%;
  }

  .left-sidebar .content .profile-mini .icon-bell{
    background: #FFF2E7;
    color: #FF9138;
    margin-right: 24px;
    padding: 5px;
    border-radius: 32px;
  }
  .left-sidebar .content .profile-mini .name-profile-mini span:nth-child(1){
    color: #7E7D88;
    font-weight:400;
    font-size:12px;
    line-height:18px;
    margin-left:8px;
}
.left-sidebar .content .profile-mini .name-profile-mini span:nth-child(2){
    color: #535261;
    font-weight:700;
    font-size:16px;
    line-height:24px;
    margin-left:8px;
}
.left-sidebar .content input{
    width:384px;
    height:44px;
    background: #EAEAEC;
    border-radius: 8px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #535261;
    font-size: 16px;
    font-weight:400;
    line-height:24px;
    border: 1.5px solid #D4D4D7;
}

.left-sidebar .content .row .col-4{
    margin-left:-70px;
}
.left-sidebar .content .name span{
    font-size:24px;
    font-weight:700;
    line-height:36px;
    color: #282739;
    display: block;
    text-align: center;
}
.left-sidebar .content .name {
    margin:auto;
    width:186px;
    
}
.left-sidebar .panel .logout{
    margin-top:276px;
    margin-left: 10px;
}


.left-sidebar .content .detail-profile{
    background:#fff;
    border-radius: 12px;
    box-shadow: 0px 2px 6px rgba(219,219,219,0.5);
    padding-top: 40px;
    padding-bottom:54px;
    padding-left: 20px;
    margin-top: 100px;
}
.left-sidebar .content .detail-profile .col-4{
    padding-left: 28px;
}
html, body {
    margin:0px;
    height:100%;
  }
.left-sidebar .panel .img-logout{
    width: 24px;
    height: 24px;
    display: inline-block;
    float: left;
    margin-right:10px;
    
}
.left-sidebar .panel .btn-logout{
    width: 176px;
    height: 48px;
    text-align: left;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #ff7506;
    background: #FFF2E7;
    border-radius:8px;
}
.left-sidebar .content .profile-mini .notification{
    width:360px;
    background: #fff;
    box-shadow: 2px 2px 15px rgba(70,64,67,0.1);
    border-radius: 10px;
    
    
}
.left-sidebar .content .profile-mini .hide{
    
    position: absolute;
    top: 100px;
    right: 20px;
    display: none;
    /* display: revert; */
    z-index: 100;
    
}
.show{
    
    position: absolute;
    top: 100px;
    right: 20px;
    display: block ;
    /* display: revert; */
    z-index: 100;
    
}
.left-sidebar .content .profile-mini .title-notification{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    background: #FF9138;
    display:block;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left:24px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

}
.left-sidebar .content .profile-mini .content-notification{
    width: 100%;
    height: 500px;
    overflow: scroll;
    
}
.left-sidebar .content .profile-mini .content-notification li{
    margin-top: 16px;
    margin-left: 24px;
    
}
.left-sidebar .content .profile-mini .content-notification .name{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #BF5805;
    
}
.left-sidebar .content .profile-mini .content-notification .time{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #535261;
    display: block;
    
}
.chiso{
    display: flex;
    justify-content:space-between;
    margin-top: 20px;
}
.chiso >div{
    width: 186px;
    height: 120px;
    background: #fff;
    border-radius: 10px;
    padding-left: 12px;

}
.chiso .number{
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #535261; 
    margin-top: 12px;

}
.chiso .dacap .number-phantram{
    float: right;
    margin-top: 15px;
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    color: #FF9138;
    padding: 5px 10px;
    border-radius: 14px;
    background: rgb(255,149,1,0.15);
    margin-right: 7px;
}
.chiso .dangcho .number-phantram{
    float: right;
    margin-top: 15px;
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    color: #FF9138;
    padding: 5px 10px;
    border-radius: 14px;
    background: rgb(255,149,1,0.15);
    margin-right: 7px;
}
.chiso .dasudung .number-phantram{
    float: right;
    margin-top: 15px;
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    color: #E73F3F;
    padding: 5px 10px;
    border-radius: 14px;
    background: rgb(231,63,63,0.15);
    margin-right: 7px;
}
.chiso .boqua .number-phantram{
    float: right;
    margin-top: 15px;
    font-weight: 400;
    font-size: 8px;
    line-height: 12px;
    color: #E73F3F;
    padding: 5px 10px;
    border-radius: 14px;
    background: rgb(231,63,63,0.15);
    margin-right: 7px;
}
.chiso div .content{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #535261;
    width: 80px;
    display: inline-block;
}
.chiso .dacap div:nth-child(1){
    margin-top:-15px;
}
.chiso .dasudung div:nth-child(1){
    margin-top:-15px;
}
.chiso .dangcho div:nth-child(1){
    margin-top:-15px;
}
.chiso .boqua div:nth-child(1){
    margin-top:-15px;
}
.chiso .dacap i.icon{
    color:#6493F9;
    border: 1px solid #DADADA;  
    background: #6695fb40;
    font-size: 24px;
    margin-right: 12px;
    padding: 12px 12px;
    border-radius: 50%;
}
.chiso .dasudung i.icon{
    color:#35C75A;
    border: 1px solid #DADADA;  
    background: #35c75a3d;
    font-size: 24px;
    margin-right: 12px;
    padding: 12px 12px;
    border-radius: 50%;
}
.chiso .dangcho i.icon{
    color:#FFAC6A;
    border: 1px solid #DADADA;  
    background: #ffac6a45;
    font-size: 24px;
    margin-right: 12px;
    padding: 12px 12px;
    border-radius: 50%;
}
.chiso .boqua i.icon{
    color:#F86D6D;
    border: 1px solid #DADADA;  
    background: #f86d6d38;
    font-size: 24px;
    margin-right: 12px;
    padding: 12px 12px;
    border-radius: 50%;
}
.br-dashboard{
    background: #D4D4D7;
}
.chart-area .title h4{
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #282739;
}
.chart-area .title span{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #a9a9B0;
}
.chart-area .title{
    margin-top:24px;
    display:flex;
    justify-content:space-between;
    margin-left: 24px;
    margin-right: 24px;

    
}
.chart-area{
    margin-top:16px;
    display:grid;
    background:#fff;
    border-radius:12px;
}

.chart-cicle{
    display:flex;
    justify-content:space-between;
}
.chart-cicle .chart-status span{
    display:block;
}
.chart-cicle #chart-radial-capso {
   margin-left: -80px;
}
.chart-cicle #chart-radial-device {
    margin-left: -80px;
 }
 .chart-cicle #chart-radial-service {
    margin-left: -80px;
 }
 .chart-cicle .chart-solieu{
    margin-left: -90px;
    margin-top: 18px;
}
.chart-cicle .chart-solieu h4{
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    color: #535261;
}
.chart-cicle .chart-solieu span{
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #FF7506;
}
.chart-cicle .chart-solieu span i{
    font-size:11px;
    margin-right: 3px;
}
.chart-cicle .chart-status span i{
    font-size:4px;
    color:#FFD130;
    margin-right: 5px;
}
.chart-cicle .chart-status span{
    font-weight: 400;
    font-size: 12px;
    line-height: 21px;
    color: #7E7D88;
    margin-bottom: 18px;
}
.chart-cicle .chart-status{
    margin-left: 35px;
    margin-top: 25px;
}
.chart-cicle .chart-solieuchitiet{
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FF7506;
    display: grid;
    align-content: space-evenly;
}
.chart-cicle .chart-solieuchitiet span{
    margin-left: 5px;
}
.br-chart-cicle{
    background-color:#FFF;
    box-shadow:2px 2px 15px rgba(70,64,67,0.1);
    border-radius: 12px;
    margin-top: 12px;
    margin-left: 0px;
    margin-right: 0px;
}

.br-thietbi{
    width: 1240px;
    height: auto;
    background:#F6F6F6;
}
.left-sidebar .content .title-dsthietbi{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    font-style: normal;
    color: #FF7506;
    margin-top: 45px;
 }


 /*dropdown*/
.jumbotron{
    padding: 0rem 0rem;
    margin-bottom: 0px;
    background-color:#f6f6f6 ;
    border-radius: 0rem;
}
.action{
    margin-right:24px;
}
.action .wrapper-action .jumbotron {
	 width: 300px;
	 max-width: 100%;
	 border-radius: 0.8rem;
}
.action .wrapper-action .jumbotron h2 {
	 margin: 0.6em 0 2em;
	 font-weight: 400;
	 letter-spacing: 0.0452em;
}

.action .wrapper-action .drop {
	 display: inline-block;
	 position: relative;
	 text-align: center;
     margin-bottom: 0px;
    margin-top: 0px;
}
.action .wrapper-action .drop input[type="checkbox"] {
	 display: none;
}
.action .wrapper-action  .drop input[type="checkbox"]:checked ~ .drop-items-action {
	 opacity: 1;
	 max-height: 400px;
	 padding: 0.6rem 0;
}
.action .wrapper-action .drop input[type="checkbox"]:checked ~ .control {
	 z-index: 99;
	 box-shadow: 0 0 0 2px #FF7506;
}
.action .wrapper-action .drop input[type="checkbox"]:checked ~ .control:after {
	 transform: rotate(180deg);
}
.action .wrapper-action .drop input[type="checkbox"]:checked ~ .overlay-close {
	 transform: none;
	 pointer-events: initial;
}
.action .wrapper-action .drop .control {
    position: relative;
    color: #535261;
    display: inline-block;
    cursor: pointer;
    padding: 10px 12px;
    background: #FFF;
    border-radius: 8px;
    width: 300px;
    text-align: left;
    font-size: 16px;
    
}
 @media (hover: hover) {
	.action .wrapper-action .drop .control:hover {
        opacity: 0.75;
	}
}
.action .wrapper-action .drop .control:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    width: 0.5em;
    margin-left: 0.8em;
    background-image: url("/storage/pathimg/sortdown.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    float: right;
    margin-top: 6px;
    font-size: 28px;

}
.action .wrapper-action .drop .drop-items-action {
    position: absolute;
    top: calc(100% + .4rem);
    width: 100%;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
    border-radius: 4px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    z-index: 99;
    text-align: left;
}
.action .wrapper-action .drop .drop-items-action .item-drop {
	 list-style: none;
}
.action .wrapper-action .drop .drop-items-action .item-drop a {
    display: block;
    text-decoration: none;
    padding: 11px;
    transition: all 0.3s ease;
    font-weight: 400;
    font-size:14px;
    line-height:21px;
    color: #282739;
}
 @media (hover: hover) {
	.action .wrapper-action .drop .drop-items-action .item-drop a:hover {
		 background: #FFF2E7;
	}
}
.action .wrapper-action .drop .overlay-close {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    transform: translate(100%, 0);
    pointer-events: none;
}
.left-sidebar .content label{
    font-size: 16px;
    line-height:24px;
    font-weight: 600;
    color: #282739;
    margin-bottom: 8px;
    margin-top: 24px;
}

.connect .wrapper-connect .jumbotron {
    width: 300px;
    max-width: 100%;
    border-radius: 0.8rem;
}
.connect .wrapper-connect .jumbotron h2 {
    margin: 0.6em 0 2em;
    font-weight: 400;
    letter-spacing: 0.0452em;
}

.connect .wrapper-connect .drop {
    display: inline-block;
    position: relative;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}
.connect .wrapper-connect .drop input[type="checkbox"] {
    display: none;
}
.connect .wrapper-connect  .drop input[type="checkbox"]:checked ~ .drop-items-connect {
    opacity: 1;
    max-height: 400px;
    padding: 0.6rem 0;
}
.connect .wrapper-connect .drop input[type="checkbox"]:checked ~ .control {
    z-index: 99;
    box-shadow: 0 0 0 2px #FF7506;
}
.connect .wrapper-connect .drop input[type="checkbox"]:checked ~ .control:after {
    transform: rotate(180deg);
}
.connect .wrapper-connect .drop input[type="checkbox"]:checked ~ .overlay-close {
    transform: none;
    pointer-events: initial;
}
.connect .wrapper-connect .drop .control {
    position: relative;
    color: #535261;
    display: inline-block;
    cursor: pointer;
    padding: 10px 12px;
    background: #FFF;
    border-radius: 8px;
    width: 300px;
    text-align: left;
    font-size: 16px;

}
@media (hover: hover) {
    .connect .wrapper-connect .drop .control:hover {
        opacity: 0.75;
   }
}
.connect .wrapper-connect .drop .control:after {
    content: "";
    display: inline-block;
    height: 0.5em;
    width: 0.5em;
    margin-left: 0.8em;
    background-image: url("/storage/pathimg/sortdown.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: contain;
    float: right;
    margin-top: 6px;
    font-size: 28px;
}
.connect .wrapper-connect .drop .drop-items-connect {
    position: absolute;
    top: calc(100% + .4rem);
    width: 100%;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .15);
    border-radius: 4px;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    z-index: 99;
    text-align: left;

}
.connect .wrapper-connect .drop .drop-items-connect .item-drop {
    list-style: none;
}
.connect .wrapper-connect .drop .drop-items-connect .item-drop a {
    display: block;
    text-decoration: none;
    padding: 11px;
    transition: all 0.3s ease;
    font-weight: 400;
    font-size:14px;
    line-height:21px;
    color: #282739;
}
@media (hover: hover) {
    .connect .wrapper-connect .drop .drop-items-connect .item-drop a:hover {
        background: #FFF2E7;
   }
}
.connect .wrapper-connect .drop .overlay-close {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
    transform: translate(100%, 0);
    pointer-events: none;
}


.br-thietbi .search .status{
    display: flex;
}
.br-thietbi .search{
    display: flex;
    justify-content:space-between;
    margin-bottom:16px;
}
.search-key form{
    position: relative;
}
.search-key button{
    position: absolute;
    top: 30%;
    right: 5%;
}
.search-key i{
    font-size:20px;
    color: #FF7506;
}
.search-key input{
    background: #FFF !important;
    width:300px !important;
}
.search-key lable{
    font-size: 16px;
    line-height:24px;
    font-weight: 600;
    color: #282739;
    margin-bottom: 8px;
    margin-top: 24px;
}

.br-thietbi .breadcrumb-thietbi{
    display:flex;
}
.br-thietbi .breadcrumb-thietbi i{
    margin-left: 14px;
    margin-right: 14px;
}
.br-thietbi .breadcrumb-thietbi .breadcrumb-thietbi-item{
    font-size: 20px;
    line-height:30px;
    font-weight: 700;
    color: #7E7D88;
}
.br-thietbi .breadcrumb-thietbi .breadcrumb-thietbi-item a{
    font-size: 20px;
    line-height:30px;
    font-weight: 700;
    color: #7E7D88;
}
.br-thietbi .breadcrumb-thietbi i{
    font-size: 20px;
    line-height:30px;
    font-weight: 700;
    color: #7E7D88 !important;
}
.br-thietbi .breadcrumb-thietbi .active{
    font-size: 20px;
    line-height:30px;
    font-weight: 700;
    color: #FF7506;
}
.table-thietbi table{
    border-radius: 12px;
    filter: drop-shadow(2px 2px 8px rgba(232, 239, 244, 0.8));
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}
.table-thietbi thead tr{
    background:#FF9138;
    color: #fff;
    font-weight: 700;
    font-size:16px;
    line-height: 24px;

}
.table-thietbi tbody tr:nth-child(2n+2){
    background: #FFF2E7;
}
.table-thietbi tbody tr:nth-child(2n+1){
    background: #FFF;
}
.table-thietbi tbody tr td:nth-child(1){
    display: none;
}
.table-thietbi thead tr th:nth-child(1){
    display: none;
}
.table-thietbi thead tr th:nth-child(n-1){
    border-right: 1px solid #FFE3CD;
}
.table-thietbi tbody tr td:nth-child(n-1){
    border-right: 1px solid #FFE3CD;
}

.btn-addthietbi button{
    width:80px;
    height: 94px;
    font-weight:600 ;
    font-size:14px;
    line-height: 19px;
    color:#FF7506;
    background:#FFF2E7;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px 0px 0px 6px;
}
.btn-addthietbi i{
    font-size: 28px;
    background: #FF9138;
    border-radius: 7px;
    align-items: center;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 3px;
    color: #fff;
}
.br-detaildevice {
    height:604px;
    margin-top:16px ;
}
.br-detaildevice .detail-device{
    height: 100%;
    background: #fff;
    padding:16px 24px;
    border-radius:16px;
    box-shadow: 2px 2px 8px rgba(232,239,244,0.8);
}
.br-detaildevice .title-detailthietbi h4{
    font-weight: 700;
    font-size:20px;
    line-height:30px;
    color:#FF7506;
}
.br-detaildevice .detail-device .col-4 span{
    font-weight: 600;
    font-size:16px;
    line-height:24px;
    color: #282739;
    margin-top: 10px;
    margin-bottom: 16px;
}
.br-detaildevice .detail-device .col-4 li{
    margin-top: 10px;
    margin-bottom: 16px;    
}
.br-detaildevice .detail-device .col-8 span{
    font-weight: 400;
    font-size:16px;
    line-height:24px;
    color: #535261;
    
}
.br-detaildevice .detail-device .col-8 li{
    margin-top: 10px;
    margin-bottom: 16px;  
}
.detail-device .col-4{
    margin-left:0px !important;
}
.detail-device .service-use-title{
    margin-top: 0px !important;
}
.detail-device .service-use-content{
    font-weight: 400;
    font-size:16px;
    line-height:24px;
    color: #535261;
}
.btn-editthietbi i {
    font-size: 18px;
    background: #FF9138;
    border-radius: 7px;
    align-items: center;
    padding: 5px 7px;
    color: #fff;
    display: table;
    margin: auto;
}
.btn-editthietbi button {
    width: 83px;
    height: 94px;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FF7506;
    background: #FFF2E7;
    box-shadow: 0px 0px 6px #e7e9f2;
    border-radius: 8px 0px 0px 6px;
}


.update-device{
    display: grid;
    margin-bottom: 16px;
}
.update-device span{
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
    margin-bottom: 8px;
    align-items: center;
}
.update-device input{
    width: 540px !important;
    height:44px !important;
    background: #fff !important;
    border:1.5px solid #D4D4D7 !important;
    border-radius: 8px !important;
    font-weight:600 !important;
    
}
.update-device i{
    font-size:7px;
    top:10px;
    margin-left: 4px;
    color: #FF4747;
}
.service-use-title i{
    position: absolute;
    font-size:7px;
    top:10px;
    margin-left: 4px;
    color: #FF4747;
}
.br-update-device{
    height: 556px;
    
}
.br-update-device form{
    width:100%;
    height:100%;
}
.br-update-device  .form-data{
    height:546px;
}
.br-update-device .form-submit{
    display:flex;
    justify-content:center;
    margin-top:24px;
}
.br-update-device .form-submit .btn-huy{
    padding:10px 24px;
    background:#FFF2E7;
    border: 1px solid #FF9138;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
    font-size:16px;
    line-height: 22px;
    font-weight: 700;
    color:#FF9138;
    margin-right:16px;
}
.br-update-device .form-submit .btn-update{
    padding:10px 24px;
    background:#FF9138;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
    font-size:16px;
    line-height: 22px;
    font-weight: 700;
    color:#FFF;
    margin-left: 16px;
}
.br-update-device .note-updatedevice {
    position: relative;
}
.br-update-device .note-updatedevice i{
    
    font-size: 7px;
    top: 10px;
    margin-left: 15px;
    color: #FF4747;
    margin-right: 4px;
}
.br-update-device .note-updatedevice span{
    font-size:16px;
    line-height: 21px;
    font-weight: 400;
    color:#7E7D88;
    display:flex;
    align-items: center;
}


.update-device .action .drop{
    border: 1.5px solid #D4D4D7;
     border-radius: 8px;
}


.update-device .action .jumbotron{
    background-color: #fff;
}
.update-device .action .control{
    width: 540px !important;
    padding: 5px 12px !important;
}
.update-device .action{
    margin-top: -24px;
}

.textarea-service ul{
    width:100%;
}
.textarea-service textarea{
    background:#fff;
    border:1.5px solid #D4D4D7;
    border-radius: 8px;
    height:132px;
    width:100%;
    font-size: 16px;
    font-weight:400px;
    line-height:24px;
    color:#535261;
    padding-top:10px;
    padding-left:12px;
}

.quitac-capso-service .checkbox-capsovervice{
    
}
.quitac-capso-service .checkbox-capsovervice input{
    width:20px;
    height:20px;
    background: #fff;
    border:1.5px solid #4277FF;
    border-radius: 4px;
}
.quitac-capso-service .checkbox-capsovervice lable{
    margin: 0px !important;
}
.number-auto-up{
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #535261 !important;
    padding:10px 12px;
    background:#fff;
    border:1.5px solid #D4D4D7;
    border-radius: 8px;

}
.quitac-capso-service .div_number{
    display:grid;
}
.detail-service{
    background: no-repeat !important;
    box-shadow: none !important;
}
.detail-service .col-1{
    flex:none !important;
    padding-right: 24px !important;
    padding-left: 0px !important;
    max-width: 3.333333% !important;
}
.detail-service .col-7{
    flex: 0 0 63.333333% !important;
    max-width: 63.333333% !important;
}
.detail-service .chitiet-dichvu{
    height: 100%;
    background: #fff;
    padding: 16px 17px;
    border-radius: 16px;
    box-shadow: 2px 2px 8px rgb(232 239 244 / 80%);
}
.detail-service .table-dichvu{
    height: 100%;
    background: #fff;
    padding: 16px 24px;
    border-radius: 16px;
    box-shadow: 2px 2px 8px rgb(232 239 244 / 80%);
}
.In-so .col-12:nth-child(2){
    display: grid;
    justify-content: center;
}
.In-so  {
    text-align: center;
    height: 604px;
}
.In-so .title-capso span{
    font-weight: 700 ;
    font-size: 32px ;
    line-height: 48px ;
    color: #FF7506 ;
}
.In-so .title-inso{
    font-size: 20px !important;
    line-height: 30px !important;
    font-weight: 700 !important;
    color: #535261 !important;
}
.In-so .action .wrapper-action .jumbotron {
    width: 400px !important;
    height:44px !important;
}
.In-so .action .wrapper-action .drop .control {
    width: 400px !important;
    height:44px !important;
    border: 1.5px solid #D4D4D7;

}
.In-so .action .wrapper-action {
    margin-top: 15px;
}
.In-so .form-submit{
    margin-top:80px;
}
.In-so .form-submit .btn-huy {
    padding: 15px 35px !important;
}
.In-so .form-submit .btn-update {
    padding: 15px 44px !important;
}
.In-so .form-inso{
    height: 100%;
    background: #fff;
    padding: 16px 24px;
    border-radius: 16px;
    box-shadow: 2px 2px 8px rgb(232 239 244 / 80%);
}

.test1{
    display:block !important;
}
.test2{
    display:none !important;
}
.test{
    width: 400px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    text-align: center;
    padding-top: 40px;
    display:none;
    border: 1.5px solid #FFAC6A;
    border-radius: 8px;
}
.test i{
    float: right;
    position: absolute;
    right: 8%;
    top: 5%;
    font-size: 24px;
    color: #FF7506;
    cursor: pointer;
}
.test span:nth-child(2){
    display:block;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: #535261;
}
.test span:nth-child(3){
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 60px;
    color: #FF7506;
    display: block;
    margin-top: 24px;

}
.test span:nth-child(4){
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #282739;
    display: block;
    margin-top: 24px;

}
.test .capso-quay{
    font-weight: 700;
}
.test .time-capso{
    background: #FF9138;
    border-radius: 8px;
    border: 1.5px solid #FFAC6A;
    padding: 16px 0px;
    margin-top: 44px;
}
.test .time-capso span{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 33px;
    color: #FFFFFF;
    
}
.system{
    position: relative;
}
.menu-system:hover .hover-system{
    z-index: 1;
}
.hover-system{
    display: grid;
    width: 200px;
    height: 144px;
    left: 0px;
    top: 0px;
    filter: drop-shadow(3px 3px 4px rgba(70, 64, 67, 0.1));
    position: absolute;
    top: 0%;
    left: 100%;
    background: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 6px #e7e9f2;
}
.hover-system a{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #7E7D88;
    padding: 12px 16px;
    border-top-right-radius: 10px;

}
.hover-system a:hover{
    background-color: #ff913847;
    color: #FF9138;
    font-size:16.1px;
}

.daterangepicker.show-calendar .drp-buttons{
    display:none !important;
}


.select2-container{
    width:98% !important;
    margin-bottom: 16px;
}


.select2-container--default .select2-selection--multiple{
    height:80px;
    border: solid #FFAC6A 1px !important;
    border-radius: 8px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    left: 85% !important;
    margin-top: 2px;
    font-size: 21px !important;
    color: #fff !important;
    border-right: none !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__display{
    padding-right: 30px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #FFAC6A !important;
    color: #FFFFFF ;
    box-shadow: 0px 0px 6px #E7E9F2 !important;
    border-radius: 9px !important;
    border:none !important;
    font-style: normal;
    font-weight: 700 !important;
    font-size: 14px !important;
    line-height: 19px !important;
    padding:5px 13px;
} 

.select2-container--default .select2-selection--single{
    height: 44px;
    margin-bottom: -8px;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color:#FF7506 transparent transparent transparent;
    border-width: 6px 6px 0 6px ;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 33px !important;
    position: absolute !important;
    top: 5px !important;
    right: 5px !important;
    width: 30px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
    height: 100%;
    padding: 7px 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}
.dropdown-updevice .select2-container {
    width: 100% !important;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-color: transparent transparent #FF7506  transparent;
    border-width: 0 6px 7px 6px;
}
.select2-container--default .select2-search--dropdown .select2-search__field{
    display: none;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    background-color: #FFAC6A !important;
    color: #fff !important;
    outline: none;
}
.icon-stop{
    font-size: 10px;
    color: red;
    margin-right: 5px;
}
.icon-action{
    font-size: 10px;
    color: green;
    margin-right: 5px;
}
.hidden div >p{
    display: none;
}
.service-detail .action .wrapper-action .jumbotron{
    width: 160px !important;
}
.service-detail .action .wrapper-action .drop .control{
    width: 160px !important;
    border: 1.5px solid #D4D4D7;

}
.service-detail .search-key input{
    width: 210px !important;
}
.select-capsomoi{
    padding: 10px 12px;
    width: 400px;
    height: 44px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
}

.In-so .select2-container--default .select2-selection--single{
    text-align: start;
}
.In-so .select2-container{
    width: 400px !important;
    margin: auto;
    display:grid;
}

.decription_role {
    height: 160px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
}
.br-chucnang {
    width: 100%;
    height: 420px;
    background: #FFF2E7;
    overflow: scroll;
    border-radius: 8px;
    padding-left: 24px;
}
.checkbox-chucnang{
    width: 20px !important;
    height: 20px !important;
    background: #FFFFFF !important;
    border: 1.5px solid #4277FF !important;
    border-radius: 4px !important;
}
.lable-chucnang{
    margin-top: 0px !important;
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 24px !important;
    color: #535261 !important;
    margin-left:8px;
}
.br-chucnang::-webkit-scrollbar {
    width: 4px;
  }
   
  .br-chucnang::-webkit-scrollbar-track {
    background: #FFF2E7;
    padding: 2px 0;
  }
   
  .br-chucnang::-webkit-scrollbar-thumb {
    background: #FFC89B;
    border-radius: 8px;
  }

.title-chucnang{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
    margin-bottom: 8px;
}
.icon-chucnang{
    font-size: 7px;
    top: 10px;
    margin-left: 4px;
    color: #FF4747;
}
.title-nhomchucnang{
    font-style: normal;
    font-weight: 700 !important;
    font-size: 20px !important;
    line-height: 30px !important;
    color: #FF7506 !important;
}
.system-taikhoan .field-icon{

}
.system-taikhoan #show_hide_password{
    display: flex;
    position: relative;
}
.system-taikhoan #password-field-enter{
    position: relative;
}
.system-taikhoan .input-group-addon{
    position: absolute;
    right: 3%;
    top: 22%;

}
.system-taikhoan label{
    margin-top:0px !important;
}
.system-taikhoan .select2-container{
    max-width: 540px !important;
    width: 100% !important;
}

.grib-search{
    display: flex !important;
    
}
.grib-search .select2-container{
    width: 300px !important;
}
.grib-search >div:nth-child(1){
    margin-right:24px;
}